

.body{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/jamesmoorewebdev1150programfiles/Elevenfiftyprojects/app1/1-Hw1.Html/greenmon/demon.JPG')
}



@media(min-width: 468px){
     .container-1{
         display: flex;
        
      }
      .container-2{
          display: flex;
         
         justify-content: space-between;
      }
    }


.container-1 div, .container-2 div{
    border: 15px #ccc solid;
    padding: 9px;
}

.box-1{
    flex:2;
    order: 2;
}

.box-2{
    flex:1;
    order: 1;
}

.box-3{
    flex:1;
    order: 3;
}

.container-2-box{
    flex-basis: 27%;
}



.horizontal-menu ul {
    margin: 10;
    padding: 15;
}
.horizontal-menu li {
    display: inline;
}
.horizontal-menu a {
    display: block;
    padding: 8px;
    background-color: #0018c3;
}
.horizontal-menu .active {
	background-color: transparent;
    color: crimson;
}
.horizontal-menu ul {
    margin: 10;
    padding: 15;
    overflow: hidden;
    background-color: transparent;
}
.horizontal-menu li {
    float: left;
}
.horizontal-menu li a {
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horizontal-menu li a:hover {
    background-color: #111;
}
.horizontal-menu li {
    border-right: 1px solid #bbb;
}

body{
    background-color: transparent;
}

background-color{
    background-color: black;
}

footer{
    background-color: slategrey;
    
}

h1{
    background-color: crimson;
    border: black 10px;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    height: 55px;
}
p{
    background-color: crimson;
    border: black 10px;
    border-radius: 25px;
    padding: 20px;
    width: 170px;
    height: 30px;

}

h4{
    background-color: crimson;
    border: black 10px;
    border-radius: 25px;
    padding: 20px;
    width: 70px;
    height: 30px;
}
h2{
    background-color: crimson;
    border: black 10px;
    border-radius: 25px;
    padding: 20px;
    width: 1300px;
    height: 75px;
}